---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  14px;
$base-line-height: 1.5;

$spacing-unit:     30px;

// See https://github.com/twbs/bootstrap/blob/v3.3.2/less/variables.less#L10
$grey-darker:        #222; // $text-color
$grey-dark:          #444; // .site-nav .roll color, .site-nav burger SVG icon
$grey:               #777; // figcaption, blockquote, .post-meta
$grey-light:         #bbb; // SVG icons, .site-nav burger border
$grey-lighter:       #eee; // blockquote border, pre border, code border, .intro border, .site-footer border, .tag-box a background
$grey-lightest:      whitesmoke; // body background, .intro background, .site-footer background

$text-color:         $grey-darker;
$inverse-text-color: white;
$background-color:   #fff;

$link-color:         #2a7ae2;
$link-visited-color: #1756a9;

$transition-duration: .3s;

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "grid",
  "triangle",
  "layout",
  "syntax-highlighting",
  "responsive-embed",
  "icons",
  "roll",
  "tags"
;
