---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-base: 300;
$line-height-base: 1.5;

$font-size-base:  16px; // Same as Chrome 41 default font size
$font-size-large: 18px;
$font-size-small: 14px;

// Default Chrome 41 font sizes
// https://github.com/twbs/bootstrap/blob/v3.3.4/less/variables.less#L55
$font-size-h1:    2em;    // 32px
$font-size-h2:    1.5em;  // 24px
$font-size-h3:    1.17em; // ~18.72px
$font-size-h4:    1.12em; // 16px
$font-size-h5:    .83em;  // ~13.28px
$font-size-h6:    .75em;  // ~10.72px

$spacing-unit: 30px;

// https://github.com/twbs/bootstrap/blob/v3.3.2/less/variables.less#L10
$grey-darker:        #222; // $text-color
$grey-dark:          #444; // .site-nav .roll color, .site-nav burger SVG icon
$grey:               #777; // figcaption, blockquote, .post-meta
$grey-light:         #bbb; // SVG icons, .site-nav burger border
$grey-lighter:       #eee; // blockquote border, pre border, code border, .intro border, .site-footer border, .tag-box a background
$grey-lightest:      whitesmoke; // body background, .intro background, .site-footer background

$text-color:         $grey-darker;
$inverse-text-color: white;
$background-color:   #fff;

$link-color:         #2a7ae2;
$link-visited-color: #1756a9;

$transition-duration: .3s;

// Width of the content area
$content-width: 1000px;

$on-palm:       600px;
$on-laptop:     800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: calc($spacing-unit / 2);
//         padding-left: calc($spacing-unit / 2);
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "grid",
  "triangle",
  "layout",
  "responsive-embed",
  "icons",
  "roll",
  "tags",
  "buttons",
  "utilities"
;
