---
layout: default
---

<div class="home">

  <h1 class="page-heading">Blog</h1>

  {% for post in site.posts %}
    {% capture month %}{{ post.date | date: '%b' }}{% endcapture %}
    {% capture next_month %}{{ post.next.date | date: '%b' }}{% endcapture %}

    {% if month != next_month %}
      {% if forloop.first == false %}</ul>{% endif %}
      <h2 style="text-transform: capitalize; margin-top: 30px">{{ post.date | localize: '%b %Y' }}</h2>
      <ul>
    {% endif %}

    <li>
      <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
      &nbsp;
      <span class="post-meta">{{ post.date | localize: '%-d %b' }}</span>
    </li>
  {% endfor %}
  </ul>

  <p class="rss-subscribe">Flux <a href="/blog.rss">RSS</a></p>

</div>
