---
layout: page
title: Liste des tags
description: "Liste des sujets abordés sur le blog, cabinet de Fabienne Krotoff 75015 Paris - 01 45 31 98 48"
permalink: /tags/
---

<!--
  See https://github.com/kleinfreund/kleinfreund.github.io/blob/master/_layouts/tags.html
  See https://github.com/LanyonM/lanyonm.github.io/blob/master/tags.html
-->

{% assign tags_sorted = page.all_tags | sort_casecmp %}

<ul class="tag-box">
  {% for tag in tags_sorted %}
    {% assign word = tag | first %}
    <li>
      <a href="#{{ word }}">{{ word }} <span>{{ page.all_tags[word].size }}</span></a>
    </li>
  {% endfor %}
</ul>

{% for tag in tags_sorted %}
  {% assign word = tag | first %}
  {% assign pages = tag | last %}

  <h2 id="{{ word }}">{{ word }}</h2>
  <ul>
    {% for page in pages %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
      {% if page.date %}
        &nbsp;
        <span class="post-meta">{{ page.date | localize: '%-d %b %Y' }}</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endfor %}
