---
layout: page
title: Liste des tags
permalink: /tags/
---

<!-- Code adapted from https://github.com/kleinfreund/kleinfreund.github.io -->

{% assign tags_sorted = site.tags | sort %}

{% for tag in tags_sorted %}
  {% assign posts = tag[1] %}

  <h2 id="{{ tag[0] }}">#{{ tag[0] }}</h2>
  <ul>
    {% for post in posts %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      &nbsp;
      <span class="post-meta">{{ post.date | localize: '%-d %b %Y' }}</span>
    </li>
    {% endfor %}
  </ul>

  {% assign posts = nil %}
{% endfor %}
