<div id="disqus_thread"></div>
<script>
  var disqus_shortname = 'osteo15';
  (function() {
    var dsq = document.createElement('script');
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Merci d'activer JavaScript pour visualiser les commentaires.</noscript>

<style>
  /**
   * See How to Remove Disqus footer from webpage http://stackoverflow.com/questions/20633406
   */

  #disqus_thread {
    position: relative;
  }

  #disqus_thread:after {
    content: "";
    display: block;
    height: 58px; /* Will partially hide Disqus loading spinning wheel :/ */
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fdfdfd;
  }
</style>
