<header class="site-header">
  <div class="parallax-bg"></div>

  <div class="wrapper">
    <a class="site-title" href="/">{{ site.title }}</a>

    <p class="site-meta">
      <span class="nav-separator">
        <a class="roll" href="http://maps.apple.com/?q={{ site.title | append: ' ' | append: site.address | cgi_escape }}">
          <span data-title="{{ site.address }}">{{ site.address }}</span>
        </a>
      </span>

      <span class="nav-separator">
        <a class="roll" href="tel:{{ site.tel | cgi_escape }}">
          <span data-title="{{ site.tel }}">{{ site.tel }}</span>
        </a>
      </span>

      <span class="nav-separator">
        <a class="roll" href="mailto:{{ site.email }}">
          <span data-title="{{ site.email }}">{{ site.email }}</span>
        </a>
      </span>
    </p>

    <nav class="site-nav">
      <span class="nav-separator">
        <a class="page-link roll {% if page.url contains '/blog/' %}current{% endif %}" href="/blog/">
          <span data-title="Blog">Blog</span>
        </a>
      </span>

      {% for p in site.pages %}
        {% if p.title and p.sitenav %}
          <span class="nav-separator">
            <a class="page-link roll {% if page.url == p.url %}current{% endif %}" href="{{ p.url }}">
              <span data-title="{{ p.title }}">{{ p.title }}</span>
            </a>
          </span>
        {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
