<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" href="/assets/hand-16-32-48.ico?v=1">
  <link rel="icon" sizes="192x192" href="/assets/hand-192.png?v=1">
  <link rel="manifest" href="/manifest.json?v=1">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/hand-background-152.png?v=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>
