<div class="intro">
  <div class="wrapper">

    <div class="row">
      <div class="col-md-4">
        <div class="photos fadein">
          <img src="/assets/8-rue-Desnouettes/Cabinet1-300px.jpg" alt="Photo cabinet">
          <!-- In the future, use the "hidden" attribute, see http://stackoverflow.com/a/27548863/990356 -->
          <img src="/assets/8-rue-Desnouettes/Cabinet5-300px.jpg" alt="Photo cabinet" style="display: none">
          <img src="/assets/8-rue-Desnouettes/Cabinet6-300px.jpg" alt="Photo cabinet" style="display: none">
        </div>
      </div>

      <div class="col-md-8">
        <p>
          Je suis une ostéopathe D.O issue d'une formation continue de 5 ans agréée par le ministère de la Santé.
        </p>
        <p>
          Je pratique, entre autres, les techniques craniennes, viscérales et musculo-squelettiques.
        </p>
        <p>
          Je vous reçois dans <a href="/Contact/">mon cabinet</a> dans le 15ème arrondissement de Paris,
          près du métro Convention (ligne 12), sur rendez-vous du lundi au vendredi 9h - 19h et le samedi 9h - 13h.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h3>Prise en charge</h3>
        <ul>
          <li>Femmes enceintes</li>
          <li>Nourrissons</li>
          <li>Enfants</li>
          <li>Adultes</li>
          <li>Sportifs</li>
          <li>Seniors</li>
        </ul>
      </div>

      <div class="col-md-9">
        <h3>Pourquoi consulter ?</h3>
        <ul>
          <li>Douleurs, lombalgie, blocage, sciatique, cruralgie, névralgie cervico-brachiale, trouble musculo-squelettique...</li>
          <li>Maux de tête, céphalée et migraine</li>
          <li>Suites de traumatisme (fracture, entorse, accident de voiture, chute, coup du lapin...) en parallèle d'une prise en charge médicale si nécessaire</li>
          <li>Problème fonctionnel de l'appareil locomoteur, de l'appareil digestif...</li>
          <li>Suivi : de grossesse, de traitement d'orthodontie, de traitement de scoliose...</li>
          <li>Bébé : grossesse et accouchement difficile, plagiocéphalie positionnelle, canal lacrymal bouché...</li>
          <li>Prévention</li>
        </ul>
      </div>
    </div>

  </div>
</div>
