/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $font-weight-base #{$font-size-base}/#{$line-height-base} $font-family;

  color: $text-color;

  // The body should take the background wanted for the footer
  // in case the page is smaller than the web browser window
  // This is also the color used for pull-to-refresh on iOS
  background-color: $grey-lightest;

  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1 {
  margin-bottom: $spacing-unit;
}
h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  box-sizing: border-box;

  max-width: 100%;

  // Nice white border around the images
  padding: 3px;
  background-color: white;
  border: 1px solid #ddd;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $font-size-small;
  color: $grey;
  margin-top: $spacing-unit / 4;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-base;
}
// See https://stackoverflow.com/a/26291186/990356
article h1 {
  font-size: 2em;
}



/**
 * Links
 */
@mixin a-colors($color: $link-color, $visited-color: $link-visited-color, $hover-color: $text-color) {
  color: $color;
  &:visited {
    color: $visited-color;
  }
  &:hover {
    color: $hover-color;
  }
}

a {
  @include a-colors;
  text-decoration: none;

  transition-property: color, opacity;
  transition-duration: $transition-duration;
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey;
  border-left: 4px solid $grey-lighter;
  padding-left: $spacing-unit / 2;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-lighter;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  box-sizing: border-box;
  max-width: $content-width;

  margin-right: auto;
  margin-left: auto;

  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

  @extend %clearfix;

  @include media-query($on-laptop) {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}



/**
 * Post footnotes
 */
.footnotes {
  font-size: $font-size-small;
}



/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;

  path {
    // See The color for the SVG icons are defined 2 times https://github.com/jekyll/jekyll/issues/2944
    fill: $grey-light;
  }
}
