// Taken and adapted from Bootstrap alpha v4

.btn {
  display: inline-block;
  font-weight: 400;
  padding: .375rem .75rem;
  border-radius: .3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;

  // Reset transition-* defined on a
  // Taken from https://github.com/twbs/bootstrap/blob/v4.3.1/scss/_variables.scss#L444
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary-outline {
  border-color: $link-color;
}
.btn-primary-outline:visited {
  // Reset visited color from a:visited
  color: $link-color;
}
.btn-primary-outline:hover {
  background-color: $link-color;
  color: $background-color;
}
.btn-primary-outline:focus {
  box-shadow: 0 0 0 3px rgba($link-color, .25);
}

.btn-lg {
  padding: .75rem 1.25rem;
  font-size: $font-size-large;
  line-height: 1.333333;
}
