// Taken and adapted from Bootstrap alpha v4

.btn {
  display: inline-block;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;

  // Reset transition-* defined on a
  transition-property: all;
  transition-duration: 0s;
}

.btn-primary-outline {
  border-color: $link-color;
}
.btn-primary-outline:visited {
  // Reset visited color from a:visited
  color: $link-color;
}
.btn-primary-outline:hover {
  background-color: $link-color;
  color: $background-color;
}

.btn-lg {
  padding: .75rem 1.25rem;
  font-size: $font-size-large;
  line-height: 1.333333;
  border-radius: .3rem;
}
