/**
 * Site header
 */
.site-header {
  font-weight: 400;
  letter-spacing: 1px; // Make Helvetica Neue more readable

  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  @include media-query($on-palm) {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
  }

  color: $inverse-text-color;
  text-shadow: 0 1px 4px rgba(0,0,0,.6);
  a {
    @include a-colors($color: $inverse-text-color, $visited-color: $inverse-text-color, $hover-color: $inverse-text-color);
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }

  position: relative;

  .parallax-bg {
    position: absolute;

    z-index: -1; // Avoid the use of "overflow: hidden" for the parent

    width: 100%;
    height: 100%;
    top: 0;

    /* Does not work under Android browser <= 4.3.1
    background: url(/assets/8-rue-Desnouettes/Cabinet3-header-bg.jpg)
                top center/cover no-repeat;
    */
    background-image: url(/assets/8-rue-Desnouettes/Cabinet3-header-bg.jpg);
    background-size: cover;
  }
}

.intro {
  background-color: $grey-lightest;
  border-bottom: 1px solid $grey-lighter;

  @include triangle-after($grey-lightest);

  padding-top: $spacing-unit;
}

.site-title {
  font-size: 30px;
  font-weight: bold;
}
a.site-title {
  opacity: 1;
}

.nav-separator {
  // Keep the separator with the words, i.e do not break "words /" into "words" "/"
  // See Specifying a preferred line break point in HTML text in a responsive design http://stackoverflow.com/questions/18222409
  white-space: nowrap;

  &:not(:last-child):after {
    content: '/';
    opacity: .4;
  }
}

.site-meta {
  font-size: $font-size-small;
  font-weight: bold;

  margin-top: $spacing-unit / 2;
}

.site-nav {
  font-size: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;

  margin-top: $spacing-unit / 2;

  .page-link {
  }
  .page-link.current {
    opacity: 1;
  }
}



/**
 * Site footer
 */
.site-footer {
  background-color: $grey-lightest;
  border-top: 1px solid $grey-lighter;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: $font-size-base;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list {
  margin-bottom: $spacing-unit / 2;

  .icon {
    margin-right: 3px;
  }
}

.footer-content {
  font-size: $font-size-small;

  #search {
    -webkit-appearance: textfield;
    font-size: $font-size-small;
    outline-style: none;
  }
}



/**
 * Page content
 */
.page-content {
  padding-top: $spacing-unit;
  @include media-query($on-palm) {
    padding-top: $spacing-unit / 2;
  }

  background-color: $background-color;
}

.page-heading {
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    > h2 {
      margin-bottom: 0;
    }
  }
}

.post-meta {
  font-size: $font-size-small;
  color: $grey;
}

.post-link {
}

.rss-subscribe {
  margin-top: $spacing-unit * 2;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2, h3 {
    padding-top: $spacing-unit / 2;
  }

  // See Center image using text-align center? http://stackoverflow.com/questions/7055393
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  figcaption {
    text-align: center;
  }
}

.post-nav {
  margin-bottom: $spacing-unit;
  @extend %clearfix;

  .previous-post {
    float: left;
  }

  .next-post {
    float: right;
  }
}
