/**
 * Site header
 */
.site-header {
    font-weight: 400;
    letter-spacing: 1px; // Make Helvetica Neue more readable

    // Positioning context for the mobile navigation icon
    position: relative;

    padding-top: $spacing-unit;
    @include media-query($on-palm) {
        padding-top: $spacing-unit / 2;
    }

    color: $inverted-text-color;
    text-shadow: 0 1px 4px rgba(0,0,0,.6);
    a {
        @include a-colors($color: $inverted-text-color, $visited-color: $inverted-text-color, $hover-color: $inverted-text-color);
        opacity: .65;

        &:hover {
            opacity: 1;
        }
    }

    .parallax-bg {
        position: absolute;

        z-index: -1; // Avoid the use of "overflow: hidden" for the parent

        width: 100%;
        height: 100%;
        top: 0;

        background: url(/assets/8-rue-Desnouettes/Cabinet3-header-bg.jpg)
                    top center/cover no-repeat;
    }
}

.intro {
    background-color: $grey-color-lighter;

    @include triangle-after($grey-color-lighter);

    padding-top: $spacing-unit;

    @include media-query($on-palm) {
        img {
            // Resize the images to fit their container on mobile devices
            // => take the full window width
            width: 100%;
        }
    }

    .photos {
        margin-bottom: $spacing-unit / 2;
    }
}

.site-title {
    font-size: 34px;
    font-weight: bold;
}
a.site-title {
    opacity: 1;
}

.site-meta {
    font-size: 18px;
}

.site-nav {
    font-size: $small-font-size;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 46px;

    margin-top: $spacing-unit;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-link.current {
        opacity: 1;
    }

    @include media-query($on-palm) {
        position: absolute;
        margin-top: $spacing-unit / 2;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        z-index: 1; // Above everything else

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            opacity: 1;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger, .trigger-hover {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }

        a.page-link {
            opacity: 1;
            color: $text-color;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: $spacing-unit / 2;

    background-color: $background-color;

    position: relative;
}

.footer-heading {
    font-size: 16px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list {
    margin-bottom: $spacing-unit / 2;

    .icon {
        margin-right: 3px;
    }
}

.footer-content {
    font-size: 14px;
    color: $grey-color;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    background-color: $background-color;
}

.page-heading {
    font-size: 32px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        > h2 {
            margin-bottom: 0;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
}

.rss-subscribe {
  margin-top: $spacing-unit * 2;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    // See Center image using text-align center? http://stackoverflow.com/questions/7055393
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    figcaption {
        text-align: center;
    }
}

.post-nav {
  margin-bottom: $spacing-unit;
  @extend %clearfix;

  .previous-post {
    float: left;
  }

  .next-post {
    float: right;
  }
}
