/**
 * See How to Make Google Maps Embeds Responsive http://www.labnol.org/internet/embed-responsive-google-maps/
 * See Responsive Google or Bing maps https://niklausgerber.com/blog/responsive-google-or-bing-maps/
 * See Shrink a Youtube video to responsive width http://stackoverflow.com/questions/15844500
 */

%responsive-iframe {
  position: relative;

  height: 0;

  iframe {
    border: 0;
    position: absolute;

    width: 100%;
    height: 100%;
  }
}

.responsive-googlemaps-iframe {
  @extend %responsive-iframe;

  padding-bottom: 450px + $spacing-unit / 2;

  iframe {
    // Google Maps medium size
    max-width: 600px;
    max-height: 450px;
  }
}

.responsive-youtube-iframe {
  @extend %responsive-iframe;

  padding-bottom: 315px + $spacing-unit / 2;

  iframe {
    // YouTube default size for embedded videos
    max-width: 560px;
    max-height: 315px;
  }
}
