/**
 * Tags page
 *
 * See https://github.com/LanyonM/lanyonm.github.io/blob/master/_sass/main.scss
 */
.tag-box {
  list-style: none;
  margin-left: 0;

  @extend %clearfix;

  li {
    float: left;
    font-size: $small-font-size;
    line-height: 2.5;
  }

  a {
    padding: 4px 6px;
    margin-right: 5px;
    background-color: $grey-lighter;
    border-radius: 4px;
  }

  a span {
    vertical-align: super;
    font-size: 11px;
  }
}
