/**
 * Tags page
 *
 * https://github.com/lanyonm/lanyonm.github.io/blob/265a1373990217000c9e74aaa0bf81def6093a51/_sass/main.scss#L77
 */
.tag-box {
  list-style: none;
  margin-left: 0;

  @extend %clearfix;

  li {
    float: left;
    font-size: $font-size-small;
    line-height: 2.5;
  }

  a {
    padding: 4px 6px;
    margin-right: 5px;
    background-color: $grey-lighter;
    border-radius: 4px;
  }

  a span {
    vertical-align: super;
    font-size: 11px;
  }
}
