<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.url == '/' %}
      {% include Intro.html %}
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        {% include Parallax.js %}
      });

      {% include GoogleAnalytics.js %}
    </script>

  </body>
</html>
