<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.url == '/' %}
      {% include Intro.html %}
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
      $(function() {
        {% include SlideShow.js %}
        {% include ToggleMenu.js %}
        {% include Parallax.js %}
        {% include Fade.js %}
      });

      {% include GoogleAnalytics.js %}
    </script>

  </body>
</html>
